@font-face {
  font-family: "Lexend";
  src: url(../../../fonts/Lexend.ttf);
}

body {
  font-family: "Lexend", sans-serif;
}

#serverSettings .content {
  font-family: "Lexend", sans-serif;
  font-size: 20pxrem;
  padding: 1rem;
  margin: 1rem;
}

#serverSettings header {
  text-align: center;
  padding: 15px;
  background-color: #69dc9e;
  color: white;
}

#serverSettings header h1 {
  font-size: 50px;
}

#serverSettings header h2 {
  font-size: 30px;
}

#serverSettings section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  background: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

#serverSettings section h2 {
  margin-bottom: 20px;
  color: #333;
  font-size: 24px;
}

#serverSettings section div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
  padding: 0 20px 0 0;
}

#serverSettings section h3 {
  margin-right: auto;
}

#serverSettings section input[type="color"] {
  cursor: pointer;
  border: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  padding: 0;
  -webkit-appearance: none;
}

#serverSettings section input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

#serverSettings section input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}
