/* Reset some default styling of create-react-app */
@font-face {
  font-family: 'Lexend';
  src: url('../../fonts/Lexend.ttf') format('truetype'); /* Adjust the path to the Regular font file */
  font-weight: normal;
  font-style: normal;
}

/* Style the navbar */
.navbar {
  font-family: 'Lexend', sans-serif;
  /* Apply Lexend font to navbar */
  background-color: #f2f2f2;
  padding: 1rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contentcontainer {
  width: 80%; /* or any percentage you prefer */
  margin: 0 auto; /* centers the container horizontally */
}

/* Style the brand name */
.navbar-brand {
  font-size: 2rem;
}

/* Style the navigation links */
.navbar-nav {
  font-family: 'Lexend', sans-serif;
  /* Apply Lexend font to navigation links */
  list-style: none;
  padding: 0;
  display: flex;
  gap: 1.5rem;
  /* Adjust the gap between links */
}

.navbar-nav a {
  font-family: 'Lexend', sans-serif;
  /* Apply Lexend font to navigation links */
  color: black;
  text-decoration: none;
  position: relative;
  display: inline-block;
  /* Needed to provide a reference for the absolute positioning of ::after */
}

.navbar-nav a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  /* Adjust the height of the underline as needed */
  background-color: black;
  /* Set underline color */
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  /* Center the underline */
  transition: width 0.3s ease-in-out;
  /* Adjust the duration and easing function as needed */
}

.navbar-nav a:hover::after {
  width: 100%;
  /* Underline expands to full width on hover */
}

.splashtext,
.splashtext h1,
.splashtexttop,
.motto,
.loginbutton,
.card-title,
.card-text {
  font-family: 'Lexend', sans-serif;
  /* Apply Lexend font to other elements */
}

.splashtext h1 {
  color: #5bbd88;
  font-size: 150px;
  margin: 20px 0;
}

.splashtext {
  text-align: center;
  padding: 50px;
  background-color: #f8f9fa;
}

.splashtext h1:hover {
  transform: scale(1.1); /* Enlarge the text by 10% upon hover */
}

.splashtexttop {
  color: #333;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.motto {
  color: #555;
  font-size: 40px;
  font-style: italic;
  margin-bottom: 30px;
}

.loginbutton {
  padding: 10px 20px;
  background-color: #69DC9E;
  color: white;
  border: 2px solid #69DC9E;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none !important;
  font-size: 16px;
  transition: background-color 0.3s, border-color 0.3s;
}

.loginbutton:hover {
  background-color: #5bbd88;
  border-color: #5bbd88;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%; /* Set a specific width */
}

.card {
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.2);
  margin: 10px;
  max-width: calc(33% - 20px);
  transition: box-shadow 0.3s ease, transform 0.3s ease; /* Add this line */
}

.card:hover {
  box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.3); /* Change the box shadow on hover */
  transform: scale(1.05); /* Slightly increase the size of the card on hover */
}

.card p {
  padding: 10px;
  /* adjust the padding of card text */

}

.card-title {
  font-size: 1.5em;
  /* adjust the font size of card titles */
  font-weight: bold;
  /* set the color of card titles */
}



.comingsoon {
  color: #777;
  font-size: 1em;
}

.comingsoon a {
  color: #007BFF;
  text-decoration: none;
}

.comingsoon a:hover {
  color: #0056b3;
}

.featurestitle {
  text-align: center;
  font-weight: bold;
  font-size: 80px;
  padding-top: 50px;
}

.learnmore {
  text-align: center;
  font-size: 30px;
  padding-top: 20px;
  padding-bottom: 140px;
}


.arrow {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #5bbd88;
  margin: 10px auto;
  animation: arrow-animation 2s infinite;
}

@keyframes arrow-animation {
  0% { transform: translateY(0); }
  50% { transform: translateY(15px); }
  100% { transform: translateY(0); }
}


.faq-section {
  margin: 20px 0;
}

.faq-section h2 {
  text-align: center;
  margin-bottom: 20px;
}

.faq-section details {
  background: #f9f9f9;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
}

.faq-section summary {
  font-weight: 700;
  cursor: pointer;
}

.faq-section p {
  margin-top: 10px;
  line-height: 1.6;
}

/* Add this to your CSS file */
.footer {
  font-family: 'Lexend', sans-serif;
  background-color: #f2f2f2;
  padding: 1rem;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  text-align: center;
}