/* Reset some default styling of create-react-app */

  
  
  /* Style the navbar */
  .navbar {
    background-color: #f2f2f2;
    padding: 1rem;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Style the brand name */
  .navbar-brand {
    font-size: 2rem;
  }
  
  /* Style the navigation links */
  .navbar-nav {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 1.5rem;
    /* Adjust the gap between links */
  }
  
  
  
  .navbar-nav a {
    color: black;
    text-decoration: none;
    position: relative;
    display: inline-block;
    /* Needed to provide a reference for the absolute positioning of ::after */
  }
  
  .navbar-nav a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    /* Adjust the height of the underline as needed */
    background-color: black;
    /* Set underline color */
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    /* Center the underline */
    transition: width 0.3s ease-in-out;
    /* Adjust the duration and easing function as needed */
  }
  
  .navbar-nav a:hover::after {
    width: 100%;
    /* Underline expands to full width on hover */
  }
  
  .splashtext h1 {
    font-size: 250px; /* Original font size */
    font-weight: normal;
    transition: transform 0.3s ease-in-out; /* Add transition effect */
    text-align: center;
    margin: auto;
  }
  
  .splashtext h1:hover {
    transform: scale(1.1); /* Enlarge the text by 10% upon hover */
  }
  
  
  .splashtexttop {
    font-size: 30px;
    text-align: center;
    color: #69DC9E;
  }
  
  .motto {
    font-size: 30px;
    font-style: italic;
    text-align: center;
  }
  
  .loginbutton {
    font-family: 'Lexend', sans-serif;
    padding: 10px 20px;
    background-color: #69DC9E;
    color: white;
    border: 2px solid #69DC9E;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none !important;
    font-size: 16px;
    transition: background-color 0.3s, border-color 0.3s;
  }
  
  .loginbutton:hover {
    background-color: #5bbd88;
    border-color: #5bbd88;
  }
  
  .card {
    background-color: #f8f9fa;
    /* light grey background */
    border-radius: 10px;
    /* rounded corners */
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.2);
    /* subtle shadow */
  }
  
  .card-title {
    font-size: 1.5em;
    /* adjust the font size of card titles */
    color: #007bff;
    /* set the color of card titles */
  }
  
  .card-text {
    color: #495057;
    /* set the color of card text */
  }
  
  